*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: black;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

#board {
  --row: 20;
  --col: 10;
  display: grid;
  aspect-ratio: 1/2;
  min-height:800px;
  grid-template: repeat(var(--row), 1fr) / repeat(var(--col), 1fr);
}

.space {
  height:100%;
  width:100%;
  border:1px solid white;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

.mine {
  background: red;
}

.hidden {
  background: #BEC8D0;
  border-left: 3px solid #BEBFD0;
  border-bottom: 3px solid #BEBFD0;
}

#gameover {
  visibility: hidden;
  color:red;
  position:absolute;
  inset:0;margin:auto;
  bottom:92%;
  background: rgba(0,0,0,0.75);
  aspect-ratio: 2/0.4;
  width:200px;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 3px solid orange;
  font-size:1.8rem;
}

#gameover.show {
  visibility:visible;
}

#gameover.win{
  color:greenyellow;
  border:3px solid greenyellow;
}

.win {
  border: 10px solid green;
}

body.win{
  border:transparent;
  background: linear-gradient(to left, hsl(39, 50%, 50%), hsl(51, 80%, 70%))
}

.lose {
  border: 10px solid hsl(0, 100%, 50%)
}

body.lose {
  border:transparent;
  background: linear-gradient(to right, hsl(0, 70%, 30%), black);
}

.flag {
  background: hsl(240, 40%, 50%)
}

#minecount {
  aspect-ratio: 2/1;
  width:150px;
  background: black;
  border:2px solid white;
  color:white;
  position:absolute;
  inset:70px auto auto 20%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:1.4rem;
}

#reload {
  aspect-ratio: 2/0.8;
  width:100px;
  background: hsl(0, 0%, 68%);
  border-radius: 6px;
  font-size: 1.2rem;
  position:absolute;
  inset:170px auto auto 21%;
}

#reload:hover {
  --colorpick: hsl(216, 60%, 50%);
  color:var(--colorpick);
  border: 3px solid var(--colorpick);
}

#howto {
  color: white;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  aspect-ratio: 1.2/2;
  height:400px;
  position:absolute;
  inset:22% auto auto 20%;
  font-size: 1.2rem;
}

.minebody{
  height:50%;
  aspect-ratio: 1/1;
  background: black;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  position:relative
}

.spike {
  aspect-ratio: 1/4;
  height:150%;
  background: black;
  transform-origin: 50% 50%;
  position:absolute;
}

.spike1 {
  transform: rotate(-45deg)
}

.spike2 {
  transform: rotate(45deg);
}